{% extends 'core/base_list.html' %}
{% load perm %}
{% load djutils %}

{% block add_button %}
    {% block_super_if_can_func 'sys_edit' %}
{% endblock %}


{% block table %}
    <thead>
        <tr>
            <th>#</th>
            {% sort_th 'name' 'Название' %}
        </tr>
    </thead>

    <tbody>
        {% for division in object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <a href="{{ division.id }}/">
                    {{ division.name }}
                </a>
            </td>
        </tr>
        {% empty %}
            <tr>
                <td colspan="2" class="text-center">
                    <strong>Нет подразделений</strong>
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}