{% extends 'core/index.html' %}
{% load bootstrap %}


{% block content %}
    <form class="form-horizontal" method="post">{% csrf_token %}
        {% block form %}
            {{ form|bootstrap_horizontal }}
        {% endblock %}

        <div class="form-group">
            <div class="col-sm-2 col-sm-offset-2">
                {% block back_button %}
                    <a href=".." class="btn btn-default btn-block">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        Назад
                    </a>
                {% endblock %}
            </div>

            <div class="col-sm-2 col-sm-offset-6">
                {% block edit_button %}
                    <button type="submit" class="btn btn-warning btn-block">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                        Изменить
                    </button>
                {% endblock %}
            </div>
        </div>
    </form>
{% endblock %}