{% extends 'core/base_list.html' %}
{% load perm %}
{% load djutils %}

{% block add_button %}
    {% block_super_if_can_func 'sys_edit' %}
{% endblock %}


{% block table %}
    <thead>
        <tr>
            <th>#</th>
            {% sort_th 'last_name' 'Имя' %}
        </tr>
    </thead>

    <tbody>
        {% for employee in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <a href="{{ employee.id }}/">
                        {{ employee }}
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2" class="text-center">
                    <strong>Нет сотрудников</strong>
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}