{% extends 'core/base_list.html' %}

{% block add_button %}{% endblock %}

{% block table %}
    <thead>
        <tr>
            <th>#</th>
            <th>Код</th>
            <th>Имя</th>
            <th>Уровень</th>
        </tr>
    </thead>

    <tbody>
        {% for func in object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <a href="{{ func.id }}/">
                    {{ func.code }}
                </a>
            </td>
            <td>{{ func.name }}</td>
            <td>{{ func.level }}</td>
        </tr>
        {% empty %}
            <tr>
                <td colspan="4" class="text-center">
                    <strong>Нет функций</strong>
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}